.Button-root {
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    border: 0;
    margin-right: 1rem;
    width: 2rem;
    height: 2rem;
}

.Button-root > svg {
    width: 1rem;
    height: auto;
}
